*{
  font-family: 'Roboto', sans-serif;
}
#contact-img{
    padding-top: 65px;
}

/* ............contact.............. */

/* *, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */
  
  body {
    background: linear-gradient(to right, #a3dcf4 30%, #e3a4fa 70%);
    font-size: 15px;
  }
  
  body, button, input {
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-weight: 700; */
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #aad3f5;
    border-radius: 15px;
  }
  
  .screen-body {
    display: flex;
  }
  

  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 25px;
    color: black;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 35px;
    height: 4px;
    background: #e8689b;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 12px;
    color: black;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  /* .app-form-group.message {
    margin-top: 40px;
  } */
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 14px;
    /* font-family: 'Montserrat', sans-serif; */
    /* text-transform: uppercase; */
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ca9e24;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #d9e4f0;
  }
  
  /* .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  } */
  
  /* .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  } */
/*   
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  } */
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }