*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
}
 
.container{
    width: 85%;
    margin: auto;
}


   
   /* ......................card-grid............. */

   
  
  body {
    /* background-color:rgb(60, 120, 177); */
    /* background-color: #eee; */
   
    font-family: "Poppins";
    justify-content: center;
    align-items: center;
    min-height: 625px;
  }
  
  #grid-container{
    background-color:rgb(60, 120, 177);
    padding: 100px 100px;
  }

  #grid-container h2{
    font-size: 35px;
    word-spacing: 3px;
    margin-bottom: 30px;
    color: whitesmoke;
  }

  .grid {
   align-items: center;
    display: grid;
  width: 100%;
    grid-gap: 20px;
   grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
  
  .grid-item {
    background-color: rgb(236, 232, 232);
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.2s;
  }
  
  .grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  }
  
  .card-img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform .2s;
    overflow: hidden;
  }

  .card-img:hover {
    transform: scale(1.1);
  }
  
  .card-content {
    padding: 40px;
  }
  
  .card-header {
    font-size: 30px;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 20px;
  
  }

  .card-header:hover{
    color: orange;
  }
  
  .card-text {
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 25px;
    color: #3d3d3d;
    margin-bottom: 40px;
  }
  
  .card-btn {
    display: block;
    width: 70%;
    margin: auto;
    padding: 18px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color:  rgb(48, 216, 238); 
    border: none;
    border-radius: 6px;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 1.6px;
  }
  
  .card-btn span {
    margin-left: 16px;
    transition: 0.2s;
  }
  
  .card-btn:hover,
  .card-btn:active {
    background: rgb(102, 162, 218);
  }
  
  .card-btn:hover span,
  .card-btn:active span {
    margin-left: 24px;
  }
  
  @media only screen and (max-width: 960px) {
    /* body {
      padding: 48px;
    } */
  
    .grid {
      grid-gap: 48px;
    }
  }
@media only screen and (max-width:1100px) and (min-width:650px){
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width:649px) and (min-width:280px){
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }
  #grid-container{
    padding: 100px 20px;
  }
  #grid-container h2 {
    font-size: 30px;
    color: black;
  }

}